html,
body {
  --ring-font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
}

.label {
  stroke: none;
}

.swatch {
  stroke: none;
}

line, circle, rect {
  stroke: var(--ring-text-color);
}

.component {
  margin: var(--ring-unit);
}

g.axes circle {
  fill: none;
}

g.axes path {
  stroke: var(--ring-text-color);
}

canvas rect {
  stroke: var(--ring-text-color);
}

text {
  fill: var(--ring-text-color);
  font-size: var(--ring-font-size);
}

.popup {
  padding: var(--ring-unit);
}
