* {
  font-family: sans-serif;
}

body {
  --ring-font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;
}

.label {
  font-size: 1em;
}
